In [1]:
import pandas as pd
import numpy as np
data = np.random.rand(4, 4)
df = pd.DataFrame(data)
print(df)

          0         1         2         3
0  0.690240  0.286180  0.614529  0.423474
1  0.942369  0.758198  0.715809  0.561729
2  0.785904  0.001928  0.312142  0.445858
3  0.818086  0.905546  0.139799  0.591247

In [2]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.690240        0.286180        0.614529        0.423474
1        0.942369        0.758198        0.715809        0.561729
2        0.785904        0.001928        0.312142        0.445858
3        0.818086        0.905546        0.139799        0.591247

In [3]:
a = df.describe()
print(a)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.809150        0.487963        0.445570        0.505577
std          0.104095        0.418071        0.266380        0.083266
min          0.690240        0.001928        0.139799        0.423474
25%          0.761988        0.215117        0.269056        0.440262
50%          0.801995        0.522189        0.463335        0.503793
75%          0.849157        0.795035        0.639849        0.569109
max          0.942369        0.905546        0.715809        0.591247

In [6]:
n = df.isnull().sum()
print("Null Value", n)

Null Value Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [7]:
# Using the location method
r2 = df.loc[:, 'Random value 2']
r3 = df.loc[:, 'Random value 3']

# Using the index location method
r2_idx = df.iloc[:, 1]
r3_idx = df.iloc[:, 2]

# Print the columns
print("Random value 2 (Location Method):")
print(r2)

print("\nRandom value 3 (Location Method):")
print(r3)

print("\nRandom value 2 (Index Location Method):")
print(r2_idx)

print("\nRandom value 3 (Index Location Method):")
print(r3_idx)

Random value 2 (Location Method):
0    0.286180
1    0.758198
2    0.001928
3    0.905546
Name: Random value 2, dtype: float64

Random value 3 (Location Method):
0    0.614529
1    0.715809
2    0.312142
3    0.139799
Name: Random value 3, dtype: float64

Random value 2 (Index Location Method):
0    0.286180
1    0.758198
2    0.001928
3    0.905546
Name: Random value 2, dtype: float64

Random value 3 (Index Location Method):
0    0.614529
1    0.715809
2    0.312142
3    0.139799
Name: Random value 3, dtype: float64